html, body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

h1 {
	color: #000;
	font-weight: 300;
	text-align: center;
}

h2 {
	color: #000;
	font-weight: 300;
	padding-top: 20px;
	text-align: center;
}

@media all and (max-width: 400px) {
	h2 {
		font-size: 42px !important;
	}
}

h3 {
	color: #000;
	font-weight: 300;
	text-align: center;
}

h4 {
	color: #000;
	font-weight: 300;
}

h5 {
	color: #000;
	font-weight: 300;
}

h6 {
	color: #000;
	font-size: 17.5px;
	font-weight: 600;
}

p {
	font-weight: 400;
	text-align: left;
}

.flex-container {
	align-content: stretch;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.container-fluid {
	padding: 0 5% 0 5%;
	width: 100%;
}

nav {
	background-color: #000 !important;
}

@media all and (min-width: 991px) {
	nav ul li a:hover {
		background-color: rgba(255, 255, 255, .4);
	}
}

.brand-logo img {
	height: 64px;
}

.subheading {
	text-align: right;
}

@media all and (max-width: 992px) {
	.subheading {
		text-align: center;
	}
}

.card {
	display: block;
	margin: 0 auto;
	max-width: 370px;
	width: 80%;
}

.card-title {
	color: #000 !important;
	text-align: center;
}

.cBig {
	transition: all .3s ease-in-out;
	width: 80%;
}

.photo-full {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.photo-large {
	display: block;
	margin: 0 auto;
	width: 65%;
}

.photo-med {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.photo {
	display: block;
	margin: 0 auto;
	width: 130px;
}

@media all and (max-width: 600px) {
	.cBig {
		width: 95%;
	}

	.photo-full {
		width: 80%;
	}

	.photo-med {
		width: 85%;
	}
}

@media all and (max-width: 400px) {
	.cBig {
		width: 95%;
	}

	.photo-full {
		width: 80%;
	}

	.photo-med {
		width: 100%;
	}
}

@media all and (max-width: 320px) {
	.photo {
		height: auto;
		width: 35%;
	}

	.photo-full {
		width: 100%;
	}

	.side-nav {
		min-width: 225px;
		width: 80%;
	}
}

.tabs .indicator {
	background-color: #34495E !important;
}

.tabs .tab a {
	color: rgba(52, 73, 94, 1) !important;
	font-weight: 300;
}

.tabs .tab a.active {
	color: #34495E !important;
	font-weight: 400;
}

.tabs .tab a:hover {
	color: #34495E !important;
	font-weight: 400;
}

label {
	font-size: 13px !important;
	margin-top: 3px !important;
}

input {
	margin-bottom: 40px !important;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	box-shadow: 0 0 0 30px white inset !important;
}

.standardbtn {
	border: solid #FFF 2px;
	border-radius: 8px;
	color: #FFF;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
	min-width: 150px;
	opacity: 0.5;
	padding: 5px;
	-moz-transition: background 0.225s ease-in, color .225s ease-out;
	-ms-transition: background 0.225s ease-in, color .225s ease-out;
	-o-transition: background 0.225s ease-in, color .225s ease-out;
	-webkit-transition: background 0.225s ease-in, color .225s ease-out;
	transition: background 0.225s ease-in, color .225s ease-out;
	width: 55%;
}

.standardbtn:hover {
	background-color: #FFF;
	color: #000;
	opacity: 1;
}

.profile-list li {
	display: inherit;
	line-height: 1.5 !important;
}

.animated {
	visibility: hidden;
}

.wrapper {
	min-height: 90vh;
	position: relative;
}

footer {
	background-color: black;
	color: #FFF;
	min-height: 10vh;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.error.first {
	background-color: #303B82;
	color: #FFF;
	min-height: 100vh;
	padding: 50px;
}

.error.first * {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

#error_h1 {
	color: #FFF;
	font-size: 5em;
	letter-spacing: 5px;
	margin-bottom: -10px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#error_h2 {
	color: #FFF;
	font-size: 1.3em;
	margin-top: 0;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.error.first img {
	left: 50%;
	margin: 35px 0;
	max-width: 170px;
	position: relative;
	transform: translate(-50%, 0);
	width: 40vw;
}

.error.first p {
	padding: 0 10px;
}

.error.first p q {
	display: block;
	font-style: italic;
	margin: 10px 0 30px;
	width: 100%;
}

.error.first .buttons {
	align-items: center;
	display: flex;
	height: auto;
	justify-content: center;
	width: 100%;
}

.error.first .buttons a {
	border: 1px solid #92C9FF;
	border-radius: 8px;
	color: #92C9FF;
	font-size: 0.9em;
	margin: 10px;
	padding: 8px 20px;
	transition: all 0.2s;
}

.error.first .buttons a:hover {
	background-color: #22114F;
	border-color: #22114F;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	color: #FFF;
}

@media all and (max-width: 750px) {
	.error.first .buttons a {
		line-height: 1.5;
		padding: 10px 14px;
	}
}

@media all and (max-width: 750px) {
	.error.first {
		padding-left: 10px;
		padding-right: 10px;
	}

	#error_h1 {
		font-size: 4em !important;
	}

	#error_h2 {
		font-size: 1.1em !important;
	}

	.error.first p {
		font-size: 1em !important;
	}
}
