.banner {
	background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, .7), rgba(0, 0, 0, .3), rgba(0, 0, 0, .7), rgba(0, 0, 0, 1)), url(../images/panel.png) no-repeat fixed center center;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 80vh;
	/*height: 100vh !important;*/
}

@media all and (max-width: 600px) {
	.banner {
		background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url(../images/panel.png) no-repeat scroll center center;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

blockquote {
	border-left: 5px solid #000;
}
